<div class="position-absolute top-50 start-50 translate-middle">
  <p class="shadow-lg p-3 mb-5 fs-4 rounded" style="color: rgb(215, 209, 209)">
    A chatbot is an artificial intelligence-powered program designed to simulate
    human conversation through text or speech interactions. It can understand
    user input, process it using natural language processing algorithms, and
    respond with relevant information or actions. Chatbots are used across
    various industries to automate customer support, provide information, and
    execute tasks. They are versatile tools that can enhance user experiences,
    streamline processes, and offer personalized assistance on websites,
    messaging apps, and other digital platforms. By continuously learning from
    interactions, chatbots become more intelligent, efficient, and capable of
    handling complex conversations.
  </p>
</div>

<div
  class="position-absolute bottom-0 end-0"
  style="margin: 0 20px 30px 0"
></div>
